<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>countries</key>
	<array>
		<dict>
			<key>country_code</key>
			<string>AF</string>
			<key>country_name</key>
			<string>Afghanistan</string>
			<key>phone_prefix</key>
			<integer>93</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>AL</string>
			<key>country_name</key>
			<string>Albania</string>
			<key>phone_prefix</key>
			<integer>355</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>DZ</string>
			<key>country_name</key>
			<string>Algeria</string>
			<key>phone_prefix</key>
			<integer>213</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>AD</string>
			<key>country_name</key>
			<string>Andorra</string>
			<key>phone_prefix</key>
			<integer>376</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>AO</string>
			<key>country_name</key>
			<string>Angola</string>
			<key>phone_prefix</key>
			<integer>244</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>AQ</string>
			<key>country_name</key>
			<string>Antarctica</string>
			<key>phone_prefix</key>
			<integer>672</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>AR</string>
			<key>country_name</key>
			<string>Argentina</string>
			<key>phone_prefix</key>
			<integer>54</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>AM</string>
			<key>country_name</key>
			<string>Armenia</string>
			<key>phone_prefix</key>
			<integer>374</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>AW</string>
			<key>country_name</key>
			<string>Aruba</string>
			<key>phone_prefix</key>
			<integer>297</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>AU</string>
			<key>country_name</key>
			<string>Australia</string>
			<key>phone_prefix</key>
			<integer>61</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>AT</string>
			<key>country_name</key>
			<string>Austria</string>
			<key>phone_prefix</key>
			<integer>43</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>AZ</string>
			<key>country_name</key>
			<string>Azerbaijan</string>
			<key>phone_prefix</key>
			<integer>994</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>BH</string>
			<key>country_name</key>
			<string>Bahrain</string>
			<key>phone_prefix</key>
			<integer>973</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>BD</string>
			<key>country_name</key>
			<string>Bangladesh</string>
			<key>phone_prefix</key>
			<integer>880</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>BY</string>
			<key>country_name</key>
			<string>Belarus</string>
			<key>phone_prefix</key>
			<integer>375</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>BE</string>
			<key>country_name</key>
			<string>Belgium</string>
			<key>phone_prefix</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>BZ</string>
			<key>country_name</key>
			<string>Belize</string>
			<key>phone_prefix</key>
			<integer>501</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>BJ</string>
			<key>country_name</key>
			<string>Benin</string>
			<key>phone_prefix</key>
			<integer>229</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>BT</string>
			<key>country_name</key>
			<string>Bhutan</string>
			<key>phone_prefix</key>
			<integer>975</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>BO</string>
			<key>country_name</key>
			<string>Bolivia</string>
			<key>phone_prefix</key>
			<integer>591</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>BA</string>
			<key>country_name</key>
			<string>Bosnia and Herzegovina</string>
			<key>phone_prefix</key>
			<integer>387</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>BW</string>
			<key>country_name</key>
			<string>Botswana</string>
			<key>phone_prefix</key>
			<integer>267</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>BR</string>
			<key>country_name</key>
			<string>Brazil</string>
			<key>phone_prefix</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>BN</string>
			<key>country_name</key>
			<string>Brunei Darussalam</string>
			<key>phone_prefix</key>
			<integer>673</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>BG</string>
			<key>country_name</key>
			<string>Bulgaria</string>
			<key>phone_prefix</key>
			<integer>359</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>BF</string>
			<key>country_name</key>
			<string>Burkina Faso</string>
			<key>phone_prefix</key>
			<integer>226</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>BI</string>
			<key>country_name</key>
			<string>Burundi</string>
			<key>phone_prefix</key>
			<integer>257</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>KH</string>
			<key>country_name</key>
			<string>Cambodia</string>
			<key>phone_prefix</key>
			<integer>855</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>CM</string>
			<key>country_name</key>
			<string>Cameroon</string>
			<key>phone_prefix</key>
			<integer>237</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>CA</string>
			<key>country_name</key>
			<string>Canada</string>
			<key>phone_prefix</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>CV</string>
			<key>country_name</key>
			<string>Cape Verde</string>
			<key>phone_prefix</key>
			<integer>238</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>CF</string>
			<key>country_name</key>
			<string>Central African Republic</string>
			<key>phone_prefix</key>
			<integer>236</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>TD</string>
			<key>country_name</key>
			<string>Chad</string>
			<key>phone_prefix</key>
			<integer>235</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>CL</string>
			<key>country_name</key>
			<string>Chile</string>
			<key>phone_prefix</key>
			<integer>56</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>CN</string>
			<key>country_name</key>
			<string>China</string>
			<key>phone_prefix</key>
			<integer>86</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>CX</string>
			<key>country_name</key>
			<string>Christmas Island</string>
			<key>phone_prefix</key>
			<integer>61</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>CC</string>
			<key>country_name</key>
			<string>Cocos (Keeling) Islands</string>
			<key>phone_prefix</key>
			<integer>61</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>CO</string>
			<key>country_name</key>
			<string>Colombia</string>
			<key>phone_prefix</key>
			<integer>57</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>KM</string>
			<key>country_name</key>
			<string>Comoros</string>
			<key>phone_prefix</key>
			<integer>269</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>CG</string>
			<key>country_name</key>
			<string>Congo</string>
			<key>phone_prefix</key>
			<integer>242</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>CD</string>
			<key>country_name</key>
			<string>Congo, The Democratic Republic of the</string>
			<key>phone_prefix</key>
			<integer>243</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>CK</string>
			<key>country_name</key>
			<string>Cook Islands</string>
			<key>phone_prefix</key>
			<integer>682</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>CR</string>
			<key>country_name</key>
			<string>Costa Rica</string>
			<key>phone_prefix</key>
			<integer>506</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>CI</string>
			<key>country_name</key>
			<string>Cote d'Ivoire</string>
			<key>phone_prefix</key>
			<integer>225</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>HR</string>
			<key>country_name</key>
			<string>Croatia</string>
			<key>phone_prefix</key>
			<integer>385</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>CU</string>
			<key>country_name</key>
			<string>Cuba</string>
			<key>phone_prefix</key>
			<integer>53</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>CY</string>
			<key>country_name</key>
			<string>Cyprus</string>
			<key>phone_prefix</key>
			<integer>357</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>CZ</string>
			<key>country_name</key>
			<string>Czech Republic</string>
			<key>phone_prefix</key>
			<integer>420</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>DK</string>
			<key>country_name</key>
			<string>Denmark</string>
			<key>phone_prefix</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>DJ</string>
			<key>country_name</key>
			<string>Djibouti</string>
			<key>phone_prefix</key>
			<integer>253</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>EC</string>
			<key>country_name</key>
			<string>Ecuador</string>
			<key>phone_prefix</key>
			<integer>593</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>EG</string>
			<key>country_name</key>
			<string>Egypt</string>
			<key>phone_prefix</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>SV</string>
			<key>country_name</key>
			<string>El Salvador</string>
			<key>phone_prefix</key>
			<integer>503</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>GQ</string>
			<key>country_name</key>
			<string>Equatorial Guinea</string>
			<key>phone_prefix</key>
			<integer>240</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>ER</string>
			<key>country_name</key>
			<string>Eritrea</string>
			<key>phone_prefix</key>
			<integer>291</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>EE</string>
			<key>country_name</key>
			<string>Estonia</string>
			<key>phone_prefix</key>
			<integer>372</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>ET</string>
			<key>country_name</key>
			<string>Ethiopia</string>
			<key>phone_prefix</key>
			<integer>251</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>FK</string>
			<key>country_name</key>
			<string>Falkland Islands (Malvinas)</string>
			<key>phone_prefix</key>
			<integer>500</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>FO</string>
			<key>country_name</key>
			<string>Faroe Islands</string>
			<key>phone_prefix</key>
			<integer>298</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>FJ</string>
			<key>country_name</key>
			<string>Fiji</string>
			<key>phone_prefix</key>
			<integer>679</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>FI</string>
			<key>country_name</key>
			<string>Finland</string>
			<key>phone_prefix</key>
			<integer>358</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>FR</string>
			<key>country_name</key>
			<string>France</string>
			<key>phone_prefix</key>
			<integer>33</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>PF</string>
			<key>country_name</key>
			<string>French Polynesia</string>
			<key>phone_prefix</key>
			<integer>689</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>GA</string>
			<key>country_name</key>
			<string>Gabon</string>
			<key>phone_prefix</key>
			<integer>241</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>GM</string>
			<key>country_name</key>
			<string>Gambia</string>
			<key>phone_prefix</key>
			<integer>220</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>GE</string>
			<key>country_name</key>
			<string>Georgia</string>
			<key>phone_prefix</key>
			<integer>995</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>DE</string>
			<key>country_name</key>
			<string>Germany</string>
			<key>phone_prefix</key>
			<integer>49</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>GH</string>
			<key>country_name</key>
			<string>Ghana</string>
			<key>phone_prefix</key>
			<integer>233</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>GI</string>
			<key>country_name</key>
			<string>Gibraltar</string>
			<key>phone_prefix</key>
			<integer>350</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>GR</string>
			<key>country_name</key>
			<string>Greece</string>
			<key>phone_prefix</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>GL</string>
			<key>country_name</key>
			<string>Greenland</string>
			<key>phone_prefix</key>
			<integer>299</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>GT</string>
			<key>country_name</key>
			<string>Guatemala</string>
			<key>phone_prefix</key>
			<integer>502</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>GN</string>
			<key>country_name</key>
			<string>Guinea</string>
			<key>phone_prefix</key>
			<integer>224</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>GW</string>
			<key>country_name</key>
			<string>Guinea-Bissau</string>
			<key>phone_prefix</key>
			<integer>245</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>GY</string>
			<key>country_name</key>
			<string>Guyana</string>
			<key>phone_prefix</key>
			<integer>592</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>HT</string>
			<key>country_name</key>
			<string>Haiti</string>
			<key>phone_prefix</key>
			<integer>509</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>VA</string>
			<key>country_name</key>
			<string>Holy See (Vatican City State)</string>
			<key>phone_prefix</key>
			<integer>39</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>HN</string>
			<key>country_name</key>
			<string>Honduras</string>
			<key>phone_prefix</key>
			<integer>504</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>HK</string>
			<key>country_name</key>
			<string>Hong Kong</string>
			<key>phone_prefix</key>
			<integer>852</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>HU</string>
			<key>country_name</key>
			<string>Hungary</string>
			<key>phone_prefix</key>
			<integer>36</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>IN</string>
			<key>country_name</key>
			<string>India</string>
			<key>phone_prefix</key>
			<integer>91</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>ID</string>
			<key>country_name</key>
			<string>Indonesia</string>
			<key>phone_prefix</key>
			<integer>62</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>IR</string>
			<key>country_name</key>
			<string>Iran, Islamic Republic of</string>
			<key>phone_prefix</key>
			<integer>98</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>IQ</string>
			<key>country_name</key>
			<string>Iraq</string>
			<key>phone_prefix</key>
			<integer>964</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>IE</string>
			<key>country_name</key>
			<string>Ireland</string>
			<key>phone_prefix</key>
			<integer>353</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>IM</string>
			<key>country_name</key>
			<string>Isle of Man</string>
			<key>phone_prefix</key>
			<integer>44</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>IL</string>
			<key>country_name</key>
			<string>Israel</string>
			<key>phone_prefix</key>
			<integer>972</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>IT</string>
			<key>country_name</key>
			<string>Italy</string>
			<key>phone_prefix</key>
			<integer>39</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>JP</string>
			<key>country_name</key>
			<string>Japan</string>
			<key>phone_prefix</key>
			<integer>81</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>JO</string>
			<key>country_name</key>
			<string>Jordan</string>
			<key>phone_prefix</key>
			<integer>962</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>KZ</string>
			<key>country_name</key>
			<string>Kazakhstan</string>
			<key>phone_prefix</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>KE</string>
			<key>country_name</key>
			<string>Kenya</string>
			<key>phone_prefix</key>
			<integer>254</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>KI</string>
			<key>country_name</key>
			<string>Kiribati</string>
			<key>phone_prefix</key>
			<integer>686</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>KP</string>
			<key>country_name</key>
			<string>Korea, Democratic People's Republic of</string>
			<key>phone_prefix</key>
			<integer>850</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>KR</string>
			<key>country_name</key>
			<string>Korea, Republic of</string>
			<key>phone_prefix</key>
			<integer>82</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>KW</string>
			<key>country_name</key>
			<string>Kuwait</string>
			<key>phone_prefix</key>
			<integer>965</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>KG</string>
			<key>country_name</key>
			<string>Kyrgyzstan</string>
			<key>phone_prefix</key>
			<integer>996</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>LA</string>
			<key>country_name</key>
			<string>Lao People's Democratic Republic</string>
			<key>phone_prefix</key>
			<integer>856</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>LV</string>
			<key>country_name</key>
			<string>Latvia</string>
			<key>phone_prefix</key>
			<integer>371</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>LB</string>
			<key>country_name</key>
			<string>Lebanon</string>
			<key>phone_prefix</key>
			<integer>961</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>LS</string>
			<key>country_name</key>
			<string>Lesotho</string>
			<key>phone_prefix</key>
			<integer>266</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>LR</string>
			<key>country_name</key>
			<string>Liberia</string>
			<key>phone_prefix</key>
			<integer>231</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>LY</string>
			<key>country_name</key>
			<string>Libyan Arab Jamahiriya</string>
			<key>phone_prefix</key>
			<integer>218</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>LI</string>
			<key>country_name</key>
			<string>Liechtenstein</string>
			<key>phone_prefix</key>
			<integer>423</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>LT</string>
			<key>country_name</key>
			<string>Lithuania</string>
			<key>phone_prefix</key>
			<integer>370</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>LU</string>
			<key>country_name</key>
			<string>Luxembourg</string>
			<key>phone_prefix</key>
			<integer>352</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>MO</string>
			<key>country_name</key>
			<string>Macao</string>
			<key>phone_prefix</key>
			<integer>853</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>MK</string>
			<key>country_name</key>
			<string>Macedonia</string>
			<key>phone_prefix</key>
			<integer>389</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>MG</string>
			<key>country_name</key>
			<string>Madagascar</string>
			<key>phone_prefix</key>
			<integer>261</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>MW</string>
			<key>country_name</key>
			<string>Malawi</string>
			<key>phone_prefix</key>
			<integer>265</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>MY</string>
			<key>country_name</key>
			<string>Malaysia</string>
			<key>phone_prefix</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>MV</string>
			<key>country_name</key>
			<string>Maldives</string>
			<key>phone_prefix</key>
			<integer>960</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>ML</string>
			<key>country_name</key>
			<string>Mali</string>
			<key>phone_prefix</key>
			<integer>223</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>MT</string>
			<key>country_name</key>
			<string>Malta</string>
			<key>phone_prefix</key>
			<integer>356</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>MH</string>
			<key>country_name</key>
			<string>Marshall Islands</string>
			<key>phone_prefix</key>
			<integer>692</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>MR</string>
			<key>country_name</key>
			<string>Mauritania</string>
			<key>phone_prefix</key>
			<integer>222</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>MU</string>
			<key>country_name</key>
			<string>Mauritius</string>
			<key>phone_prefix</key>
			<integer>230</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>YT</string>
			<key>country_name</key>
			<string>Mayotte</string>
			<key>phone_prefix</key>
			<integer>262</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>MX</string>
			<key>country_name</key>
			<string>Mexico</string>
			<key>phone_prefix</key>
			<integer>52</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>FM</string>
			<key>country_name</key>
			<string>Micronesia, Federated States of</string>
			<key>phone_prefix</key>
			<integer>691</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>MD</string>
			<key>country_name</key>
			<string>Moldova, Republic of</string>
			<key>phone_prefix</key>
			<integer>373</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>MC</string>
			<key>country_name</key>
			<string>Monaco</string>
			<key>phone_prefix</key>
			<integer>377</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>MN</string>
			<key>country_name</key>
			<string>Mongolia</string>
			<key>phone_prefix</key>
			<integer>976</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>ME</string>
			<key>country_name</key>
			<string>Montenegro</string>
			<key>phone_prefix</key>
			<integer>382</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>MA</string>
			<key>country_name</key>
			<string>Morocco</string>
			<key>phone_prefix</key>
			<integer>212</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>MZ</string>
			<key>country_name</key>
			<string>Mozambique</string>
			<key>phone_prefix</key>
			<integer>258</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>MM</string>
			<key>country_name</key>
			<string>Myanmar</string>
			<key>phone_prefix</key>
			<integer>95</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>NA</string>
			<key>country_name</key>
			<string>Namibia</string>
			<key>phone_prefix</key>
			<integer>264</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>NR</string>
			<key>country_name</key>
			<string>Nauru</string>
			<key>phone_prefix</key>
			<integer>674</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>NP</string>
			<key>country_name</key>
			<string>Nepal</string>
			<key>phone_prefix</key>
			<integer>977</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>NL</string>
			<key>country_name</key>
			<string>Netherlands</string>
			<key>phone_prefix</key>
			<integer>31</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>NC</string>
			<key>country_name</key>
			<string>New Caledonia</string>
			<key>phone_prefix</key>
			<integer>687</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>NZ</string>
			<key>country_name</key>
			<string>New Zealand</string>
			<key>phone_prefix</key>
			<integer>64</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>NI</string>
			<key>country_name</key>
			<string>Nicaragua</string>
			<key>phone_prefix</key>
			<integer>505</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>NE</string>
			<key>country_name</key>
			<string>Niger</string>
			<key>phone_prefix</key>
			<integer>227</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>NG</string>
			<key>country_name</key>
			<string>Nigeria</string>
			<key>phone_prefix</key>
			<integer>234</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>NU</string>
			<key>country_name</key>
			<string>Niue</string>
			<key>phone_prefix</key>
			<integer>683</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>NO</string>
			<key>country_name</key>
			<string>Norway</string>
			<key>phone_prefix</key>
			<integer>47</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>OM</string>
			<key>country_name</key>
			<string>Oman</string>
			<key>phone_prefix</key>
			<integer>968</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>PK</string>
			<key>country_name</key>
			<string>Pakistan</string>
			<key>phone_prefix</key>
			<integer>92</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>PW</string>
			<key>country_name</key>
			<string>Palau</string>
			<key>phone_prefix</key>
			<integer>680</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>PA</string>
			<key>country_name</key>
			<string>Panama</string>
			<key>phone_prefix</key>
			<integer>507</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>PG</string>
			<key>country_name</key>
			<string>Papua New Guinea</string>
			<key>phone_prefix</key>
			<integer>675</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>PY</string>
			<key>country_name</key>
			<string>Paraguay</string>
			<key>phone_prefix</key>
			<integer>595</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>PE</string>
			<key>country_name</key>
			<string>Peru</string>
			<key>phone_prefix</key>
			<integer>51</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>PH</string>
			<key>country_name</key>
			<string>Philippines</string>
			<key>phone_prefix</key>
			<integer>63</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>PN</string>
			<key>country_name</key>
			<string>Pitcairn</string>
			<key>phone_prefix</key>
			<integer>870</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>PL</string>
			<key>country_name</key>
			<string>Poland</string>
			<key>phone_prefix</key>
			<integer>48</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>PT</string>
			<key>country_name</key>
			<string>Portugal</string>
			<key>phone_prefix</key>
			<integer>351</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>PR</string>
			<key>country_name</key>
			<string>Puerto Rico</string>
			<key>phone_prefix</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>QA</string>
			<key>country_name</key>
			<string>Qatar</string>
			<key>phone_prefix</key>
			<integer>974</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>RO</string>
			<key>country_name</key>
			<string>Romania</string>
			<key>phone_prefix</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>RU</string>
			<key>country_name</key>
			<string>Russian Federation</string>
			<key>phone_prefix</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>RW</string>
			<key>country_name</key>
			<string>Rwanda</string>
			<key>phone_prefix</key>
			<integer>250</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>BL</string>
			<key>country_name</key>
			<string>Saint Bartelemey</string>
			<key>phone_prefix</key>
			<integer>590</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>SH</string>
			<key>country_name</key>
			<string>Saint Helena</string>
			<key>phone_prefix</key>
			<integer>290</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>PM</string>
			<key>country_name</key>
			<string>Saint Pierre and Miquelon</string>
			<key>phone_prefix</key>
			<integer>508</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>WS</string>
			<key>country_name</key>
			<string>Samoa</string>
			<key>phone_prefix</key>
			<integer>685</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>SM</string>
			<key>country_name</key>
			<string>San Marino</string>
			<key>phone_prefix</key>
			<integer>378</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>ST</string>
			<key>country_name</key>
			<string>Sao Tome and Principe</string>
			<key>phone_prefix</key>
			<integer>239</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>SA</string>
			<key>country_name</key>
			<string>Saudi Arabia</string>
			<key>phone_prefix</key>
			<integer>966</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>SN</string>
			<key>country_name</key>
			<string>Senegal</string>
			<key>phone_prefix</key>
			<integer>221</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>RS</string>
			<key>country_name</key>
			<string>Serbia</string>
			<key>phone_prefix</key>
			<integer>381</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>SC</string>
			<key>country_name</key>
			<string>Seychelles</string>
			<key>phone_prefix</key>
			<integer>248</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>SL</string>
			<key>country_name</key>
			<string>Sierra Leone</string>
			<key>phone_prefix</key>
			<integer>232</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>SG</string>
			<key>country_name</key>
			<string>Singapore</string>
			<key>phone_prefix</key>
			<integer>65</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>SK</string>
			<key>country_name</key>
			<string>Slovakia</string>
			<key>phone_prefix</key>
			<integer>421</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>SI</string>
			<key>country_name</key>
			<string>Slovenia</string>
			<key>phone_prefix</key>
			<integer>386</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>SB</string>
			<key>country_name</key>
			<string>Solomon Islands</string>
			<key>phone_prefix</key>
			<integer>677</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>SO</string>
			<key>country_name</key>
			<string>Somalia</string>
			<key>phone_prefix</key>
			<integer>252</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>ZA</string>
			<key>country_name</key>
			<string>South Africa</string>
			<key>phone_prefix</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>ES</string>
			<key>country_name</key>
			<string>Spain</string>
			<key>phone_prefix</key>
			<integer>34</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>LK</string>
			<key>country_name</key>
			<string>Sri Lanka</string>
			<key>phone_prefix</key>
			<integer>94</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>SD</string>
			<key>country_name</key>
			<string>Sudan</string>
			<key>phone_prefix</key>
			<integer>249</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>SR</string>
			<key>country_name</key>
			<string>Suriname</string>
			<key>phone_prefix</key>
			<integer>597</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>SZ</string>
			<key>country_name</key>
			<string>Swaziland</string>
			<key>phone_prefix</key>
			<integer>268</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>SE</string>
			<key>country_name</key>
			<string>Sweden</string>
			<key>phone_prefix</key>
			<integer>46</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>CH</string>
			<key>country_name</key>
			<string>Switzerland</string>
			<key>phone_prefix</key>
			<integer>41</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>SY</string>
			<key>country_name</key>
			<string>Syrian Arab Republic</string>
			<key>phone_prefix</key>
			<integer>963</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>TW</string>
			<key>country_name</key>
			<string>Taiwan</string>
			<key>phone_prefix</key>
			<integer>886</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>TJ</string>
			<key>country_name</key>
			<string>Tajikistan</string>
			<key>phone_prefix</key>
			<integer>992</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>TZ</string>
			<key>country_name</key>
			<string>Tanzania, United Republic of</string>
			<key>phone_prefix</key>
			<integer>255</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>TH</string>
			<key>country_name</key>
			<string>Thailand</string>
			<key>phone_prefix</key>
			<integer>66</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>TL</string>
			<key>country_name</key>
			<string>Timor-Leste</string>
			<key>phone_prefix</key>
			<integer>670</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>TG</string>
			<key>country_name</key>
			<string>Togo</string>
			<key>phone_prefix</key>
			<integer>228</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>TK</string>
			<key>country_name</key>
			<string>Tokelau</string>
			<key>phone_prefix</key>
			<integer>690</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>TO</string>
			<key>country_name</key>
			<string>Tonga</string>
			<key>phone_prefix</key>
			<integer>676</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>TN</string>
			<key>country_name</key>
			<string>Tunisia</string>
			<key>phone_prefix</key>
			<integer>216</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>TR</string>
			<key>country_name</key>
			<string>Turkey</string>
			<key>phone_prefix</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>TM</string>
			<key>country_name</key>
			<string>Turkmenistan</string>
			<key>phone_prefix</key>
			<integer>993</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>TV</string>
			<key>country_name</key>
			<string>Tuvalu</string>
			<key>phone_prefix</key>
			<integer>688</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>UG</string>
			<key>country_name</key>
			<string>Uganda</string>
			<key>phone_prefix</key>
			<integer>256</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>UA</string>
			<key>country_name</key>
			<string>Ukraine</string>
			<key>phone_prefix</key>
			<integer>380</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>AE</string>
			<key>country_name</key>
			<string>United Arab Emirates</string>
			<key>phone_prefix</key>
			<integer>971</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>GB</string>
			<key>country_name</key>
			<string>United Kingdom</string>
			<key>phone_prefix</key>
			<integer>44</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>US</string>
			<key>country_name</key>
			<string>United States</string>
			<key>phone_prefix</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>UY</string>
			<key>country_name</key>
			<string>Uruguay</string>
			<key>phone_prefix</key>
			<integer>598</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>UZ</string>
			<key>country_name</key>
			<string>Uzbekistan</string>
			<key>phone_prefix</key>
			<integer>998</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>VU</string>
			<key>country_name</key>
			<string>Vanuatu</string>
			<key>phone_prefix</key>
			<integer>678</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>VE</string>
			<key>country_name</key>
			<string>Venezuela</string>
			<key>phone_prefix</key>
			<integer>58</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>VN</string>
			<key>country_name</key>
			<string>Vietnam</string>
			<key>phone_prefix</key>
			<integer>84</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>WF</string>
			<key>country_name</key>
			<string>Wallis and Futuna</string>
			<key>phone_prefix</key>
			<integer>681</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>YE</string>
			<key>country_name</key>
			<string>Yemen</string>
			<key>phone_prefix</key>
			<integer>967</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>ZM</string>
			<key>country_name</key>
			<string>Zambia</string>
			<key>phone_prefix</key>
			<integer>260</integer>
		</dict>
		<dict>
			<key>country_code</key>
			<string>ZW</string>
			<key>country_name</key>
			<string>Zimbabwe</string>
			<key>phone_prefix</key>
			<integer>263</integer>
		</dict>
	</array>
</dict>
</plist>
